node_modules
soundsys/static/bower_components
soundsys/static/assets
soundsys/static/build
test
tests
.env
npm-debug.log

.DS_Store
*.pyc
*.pyo
env
env*
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/

# Coverage reports
htmlcov
.coverage
.coverage.*
*,cover