<!DOCTYPE html>
<html>
<head>
	<title>SoundSys</title>
</head>
<body>
	<section id="root"></section>
	<section id="link"></section>
	<section id="multiple"></section>

	<script type="text/javascript" src="{{ url_for('static', filename='bower_components/p5.js/lib/p5.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bower_components/p5.js/lib/addons/p5.dom.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bower_components/p5.js/lib/addons/p5.sound.min.js') }}"></script>


	<script type="text/javascript" src="{{ url_for('static', filename='build/app.js') }}"></script>
	<script>

	</script>
</body>
</html>